<!DOCTYPE HTML>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MyApp - Userlist</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- FAVICON -->
        <link rel='shortcut icon' type='image/x-icon' href='../static/images/fav.ico' />
        <!-- My Styles -->
        <link href="../static/css/main.css" rel="stylesheet">
        <!-- Java Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../static/js/indexJs.js"></script>
    </head>

    <body>

        <div class="container">
            <h1>Users List Page</h1>

            <br/>
            <table id="customers">

            </table>

            <br/>

        </div>

    </body>

</html>